.exp-contact-form {

    background-color: var(--color-shades-blue-200);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px 24px;
    position: relative;


    @include media-breakpoint-up(md) {
        padding: 60px 40px;
    }

    @include media-breakpoint-up(lg) {
        padding: 180px 80px 64px;
    }

    &__cards-container {

        @include media-breakpoint-up(lg) {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: -150px;
        }
    }

    &__cards {
        position: relative;
        text-align: center;
        background-color: var(--color-white);
        margin-bottom: 16px;
        border-radius: 8px;
        box-shadow: 0px 10px 14px -4px rgba(0, 0, 0, .1);

        &:hover {
            box-shadow: 0px 10px 14px -15px  rgba(0, 0, 0, .1);
        }

        @include media-breakpoint-up(lg) {
            height: 100%;
            margin-bottom: 0;
        }
    }

    &__cards-icon {
        margin-top: 1rem;
        width: 100px;
    }

    &__cards-title {
        font-size: map-get($text-sizes, 2xl);
        font-weight: 600;
        line-height: 100%;
        margin: 0 !important;
        padding: 16px 0 16px 0;

    }

    &__cards-text {
        font-size: map-get($text-sizes, base);
        font-weight: 400;
        line-height: 1.4;
        margin: 0;
        padding: 0 8px 18px 8px;
    }

    &__title {
        font-size: map-get($text-sizes, 3xl);
        margin-top: 32px;
        margin-bottom: 16px;

        @include media-breakpoint-up(lg) {
            font-size: map-get($text-sizes, 4xl);
        }
    }

    &__text {
        font-size: map-get($text-sizes, base);
        margin-bottom: 24px;
        line-height:1.6;

        @include media-breakpoint-up(md) {
            font-size: map-get($text-sizes, lg);
        }
    }

    &__image {
        height: 268px;
        position: relative;

        @include media-breakpoint-up(md) {
            height: 100%;
        }

        picture {
            img {
                object-fit: cover;
                object-position: center;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}