.exp-counter {
    --counter-txt-color: var(--color-white);
    padding: 48px 0;

    @include media-breakpoint-up(lg) {
        padding: 88px 0;
    }

    // TODO: change to a utility class
    &.bg-default {
        color: var(--color-white);
        background-color: var(--color-cu-lightblue-500);
    }

    &__content {
        max-width: 465px;
    }

    &__subtitle {
        font-weight: 600;
        line-height: 1.6;
        color: var(--counter-txt-color);
        margin-bottom: 16px;
        font-size: map-get($text-sizes, sm);
        
        @include media-breakpoint-up(lg) {
            margin-bottom: 20px;
            font-size: map-get($text-sizes, lg);
        }
    }

    &__title {
        font-weight: 700;
        line-height: 1.15;
        color: var(--counter-txt-color);
        margin-bottom: 16px;
        font-size: map-get($text-sizes, 3xl);
        
        @include media-breakpoint-up(lg) {
            margin-bottom: 24px;
            font-size: map-get($text-sizes, 5xl);
        }
    }

    &__text {
        font-weight: 400;
        line-height: 1.6;
        color: var(--counter-txt-color);
        font-size: map-get($text-sizes, base);

        @include media-breakpoint-up(lg) {
            font-size: map-get($text-sizes, lg);
        }
    }

    &__link {
        margin-top: 16px;

        @include media-breakpoint-up(lg) {
            margin-top: 32px;
        }
    }

    &__wrapper {
        @include media-breakpoint-down(md) {
            margin-top: 40px;
        }
    }

    &__item-top {
        display: flex;
        align-items: flex-end;
        margin-bottom: 8px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 16px;
        }
    }

    &__item-number {
        font-weight: 700;
        line-height: 1;
        color: var(--counter-txt-color);
        font-size: map-get($text-sizes, 6xl);

        @include media-breakpoint-up(lg) {
            font-size: map-get($text-sizes, 7xl);
        }

        @include media-breakpoint-up(xl) {
            font-size: map-get($text-sizes, 9xl);
        }
    }

    &__item-symbol {
        font-weight: 300;
        line-height: 1;
        color: var(--counter-txt-color);
        font-size: map-get($text-sizes, 5xl);
        
        @include media-breakpoint-up(lg) {
            font-size: map-get($text-sizes, 7xl);
        }
    }

    &__item-subtitle {
        font-weight: 400;
        line-height: 1.6;
        color: var(--counter-txt-color);
        margin-bottom: 0;
        font-size: map-get($text-sizes, lg);
        
        @include media-breakpoint-up(lg) {
            font-size: map-get($text-sizes, xl);
        }
    }

    &__item-divider {
        width: 100%;
        height: 1px;
        margin: 32px 0;
        background-color: var(--color-shades-blue-500);
    }
}