.image-banner {
    position: relative;

    &__background {
        position: relative;
        width: 100%;
        height: 150px;

        @include media-breakpoint-up(lg) {
            height: 200px;
        }

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, rgba(7, 10, 46, 0.9) 0%, rgba(7, 10, 46, 0) 100%), rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        picture {
            img {
                object-fit: cover;
                object-position: center;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    &__content {
        position: absolute;
        top: 40px;
        bottom: 40px;
        left: 0;
        display: flex;
        align-items: flex-end;
        height: calc(100% - 80px);
        width: 100%;
        z-index: 2;

        @include media-breakpoint-up(lg) {
            align-items: center;
        }
    }

    &__title {
        line-height: 1.3;
        letter-spacing: -1%;
        margin-bottom: 24px;
        color: var(--color-white);
        font-size: map-get($text-sizes, 3xl);

        @include media-breakpoint-up(lg) {
            margin-bottom: 32px;
            font-size: map-get($text-sizes, 5xl);
        }
    }
}