.video {
    $block: &;

    padding: 48px 0;
    
    @include media-breakpoint-up(lg) {
        padding: 88px 0;
    }

    &:not(.max-width) {
        max-width: 1140px;
        margin: 0 auto;
    }

    &__button {
        padding: 0;
        margin: 0;
        border: none;
        background: transparent;

        &:hover {
            opacity: 1;

            #{$block}__poster {
                filter: brightness(0.95);
            }

            #{$block}__play-button {
                opacity: 1;
            }
        }
    }

    &__poster {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
    }

    &__play-button-wrapper {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__play-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 65px;
        height: 65px;
        opacity: .9;
        border-radius: 100%;
        transition: all 0.3s ease-in-out;
        background-color: var(--color-brand-1);

        svg {
            position: relative;
            left: 2px;
            height: 42px;
            width: 42px;
            //fill: var(--color-white);

            path {
                stroke: var(--color-white);
            }
        }

    }


}

.video.video-company {
    padding: 48px 0;
    margin: auto;
}
