.featured-insight-header {
    position: relative;
    height: 375px;

    @include media-breakpoint-up(md) {
        height: 510px;
    }

    &__background {
        inset: 0;
        position: absolute;

        &::before {
            position: absolute;
            background: linear-gradient(90deg, rgb(7 10 46 / 60%) 0%, rgb(7 10 46 / 0%) 100%);
            content: '';
            inset: 0;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
            pointer-events: none;
        }
    }

    &__breadcrumbs {
        height: 46px;
        position: relative;
        background: rgba(255, 255, 255, 0.9);
        display: flex;
        align-items: center;
    }

    &__content {
        position: relative;
        display: flex;
        align-items: center;
        height: calc(100% - 46px);
        color: var(--color-white);

        h1 {
            margin-bottom: 24px;
            font-size: map-get($text-sizes, 3xl);
            color: var(--color-white);

            @include media-breakpoint-up(md) {
                font-size: map-get($text-sizes, 5xl);
            }
        }
    }
}
