# System
.DS_Store
Thumbs.db

# IDE
.idea
.vscode

# NPM
/node_modules/

# Composer
/vendor/

# Dotenv
.env
.env.*
!.env.example
!.env.j2
!.env.vars.*

docker-compose.yaml

# WP-CLI
wp-cli.yml

# Cache
.php_cs.cache

# WordPress & Theme
!/assets/javascript/vendor/*
!/assets/scss/vendor/*
/public/*
!/public/favicon.ico
!/public/favicon.png
/public/license.txt
/public/wp-config-sample.php
/public/wp-config.php
/public/wp-content/*
/public/wp-content/plugins/
/public/wp-content/mu-plugins/
!/public/wp-content/themes/
!/public/wp-content/themes/gilanbazar-theme/assets/*
