/* Fonts
========================================================================== */
/* stylelint-disable */
@font-face {
    font-display: swap;
    font-family: 'Vazir';
    font-style: normal;
    font-weight: 300;
    src: url('../../fonts/vazir/Vazirmatn-Light.woff2') format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'Vazir';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/vazir/Vazirmatn-Regular.woff2') format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'Vazir';
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/vazir/Vazirmatn-Medium.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Vazir';
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/vazir/Vazirmatn-Black.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Vazir';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/vazir/Vazirmatn-Bold.woff2') format('woff2');
}


$font-fallback: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen-sans, ubuntu, cantarell, 'Helvetica Neue', sans-serif;
$font-primary: 'Vazir', $font-fallback;

/* stylelint-enable */
