.form {
    &__wrapper {
        /* stylelint-disable */
        --form-border-radius: 9px;
        --form-input-border-inactive: 1px solid #a6b0c3;
        --form-input-outline-active: 1px solid #a6b0c3;
        --form-input-height: 46px;
        --form-input-fontsize: 16px;
        --form-input-lineheight: 17px;
        --form-input-lineheight-large: 17px;
        --form-input-fontweight: 100;
        --form-input-background-color: #ffffff;
        --form-input-placeholder: #808080;
        --form-checkbox-box-size: 18px;
        --form-radio-background-color-faded: #dff2fb;
        --form-text-color: red;

        // .gform_wrapper {}

        // .gform-body {}

        .gform_fields {

            .gfield {

                .gfield_label {
                    font-weight: var(--form-input-fontweight);
                    font-size: var(--form-input-fontsize);
                    line-height: var(--form-input-lineheight-large);

                    .gfield_required {
                        color: var(--form-text-color);
                    }
                }

                .ginput_container {
                    input {
                        height: var(--form-input-height);
                        border: var(--form-input-border-inactive);
                        border-radius: var(--form-border-radius);
                        font-weight: var(--form-input-fontweight);
                        font-size: var(--form-input-fontsize);
                        line-height: var(--form-input-lineheight);
                        padding: 8px 12px;

                        &::placeholder {
                            color: var(--form-input-placeholder);
                        }

                        &:focus-visible, &:focus {
                            outline: var(--form-input-outline-active);
                            border: var(--form-input-outline-active);
                        }
                    }

                    textarea {
                        border: var(--form-input-border-inactive);
                        border-radius: var(--form-border-radius);
                        font-weight: var(--form-input-fontweight);
                        font-size: var(--form-input-fontsize);
                        line-height: var(--form-input-lineheight);

                        &:focus-visible, &:focus {
                            outline: var(--form-input-outline-active);
                            border: var(--form-input-outline-active);
                        }
                    }

                    select {
                        appearance: none;
                        font-size: var(--form-input-fontsize);
                        border: var(--form-input-border-inactive);
                        line-height: var(--form-input-lineheight);
                        border-radius: var(--form-border-radius);
                        background: var(--form-input-background-color) url('data:image/svg+xml,%3Csvg width=\'18\' height=\'18\' viewBox=\'0 0 18 18\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M14.625 6.75L9 12.375L3.375 6.75\' stroke=\'%23808080\' stroke-width=\'1.73554\' stroke-linecap=\'round\' stroke-linejoin=\'round\'/%3E%3C/svg%3E%0A') no-repeat calc(100% - .75rem) center;
                        background-size: 20px;
                        height: var(--form-input-height);
                        padding-right: 30px;

                        &:focus-visible, &:focus {
                            outline: var(--form-input-outline-active);
                            border: var(--form-input-outline-active);
                        }
                    }
                }

                .gfield_description {
                    font-size: .7em;
                    padding: 9px;
                }

                &--type-checkbox {
                    .ginput_container {
                        .gchoice {
                            position: relative;
                            display: flex;
                            gap: 14px;
                        }

                        input[type='checkbox'] {
                            height: var(--form-checkbox-box-size);
                            width: var(--form-checkbox-box-size);
                            opacity: 0;

                            & + label {
                                &:before {
                                    content: '';
                                    display: inline-block;
                                    height: var(--form-checkbox-box-size);
                                    width: var(--form-checkbox-box-size);
                                    background-color: var(--color-accent-hex);
                                    border-radius: var(--form-border-radius);
                                    position: absolute;
                                    top: 2px;
                                    left: 0;
                                    background-size: calc(var(--form-checkbox-box-size) - 4px);
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-image: url('data:image/svg+xml,%3Csvg width=\'14\' height=\'14\' viewBox=\'0 0 14 14\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M11.8125 3.93777L5.6875 10.0625L2.625 7.00027\' stroke=\'white\' stroke-width=\'1.73554\' stroke-linecap=\'round\' stroke-linejoin=\'round\'/%3E%3C/svg%3E%0A');
                                    opacity: 0;
                                    z-index: 10;
                                }

                                &:after {
                                    content: '';
                                    display: inline-block;
                                    height: var(--form-checkbox-box-size);
                                    width: var(--form-checkbox-box-size);
                                    border: var(--form-input-border-inactive);
                                    background-color: #ffffff;
                                    border-radius: var(--form-border-radius);
                                    position: absolute;
                                    top: 2px;
                                    left: 0;
                                    opacity: 1;
                                    z-index: 5;
                                }
                            }

                            &:checked {
                                & + label {
                                    &:before {
                                        opacity: 1;
                                    }
                                }
                            }
                        }

                        label {
                            font-weight: var(--form-input-fontweight);
                            font-size: var(--form-input-fontsize);
                            line-height: var(--form-input-lineheight-large);
                        }
                    }
                }

                &--type-radio {
                    .ginput_container {

                        .gchoice {
                            position: relative;
                            display: flex;
                            gap: 14px;
                        }

                        input[type='radio'] {
                            height: var(--form-checkbox-box-size);
                            width: var(--form-checkbox-box-size);
                            opacity: 0;

                            & + label {
                                &:before {
                                    content: '';
                                    display: inline-block;
                                    height: var(--form-checkbox-box-size);
                                    width: var(--form-checkbox-box-size);
                                    background-color: var(--form-radio-background-color-faded);
                                    border-radius: 50%;
                                    position: absolute;
                                    top: 2px;
                                    left: 0;
                                    background-size: calc(var(--form-checkbox-box-size) - 4px);
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-image: url('data:image/svg+xml,%3Csvg width=\'20\' height=\'20\' viewBox=\'0 0 20 20\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M14.125 7.75L8.62497 13L5.875 10.375\' stroke=\'%2329AAE1\' stroke-width=\'1.73554\' stroke-linecap=\'round\' stroke-linejoin=\'round\'/%3E%3Cpath d=\'M10 19C14.9706 19 19 14.9706 19 10C19 5.02945 14.9706 1.00001 10 1.00001C5.02944 1.00001 1 5.02945 1 10C1 14.9706 5.02944 19 10 19Z\' stroke=\'%2329AAE1\' stroke-width=\'1.73554\' stroke-linecap=\'round\' stroke-linejoin=\'round\'/%3E%3C/svg%3E%0A');
                                    opacity: 0;
                                    z-index: 10;
                                }

                                &:after {
                                    content: '';
                                    display: inline-block;
                                    height: 18px;
                                    width: 18px;
                                    border: var(--form-input-border-inactive);
                                    background-color: #ffffff;
                                    border-radius: 50%;
                                    position: absolute;
                                    top: 2px;
                                    left: 0;
                                    opacity: 1;
                                    z-index: 5;
                                }
                            }

                            &:checked {
                                & + label {
                                    &:before {
                                        opacity: 1;
                                    }
                                }
                            }
                        }

                        label {
                            font-weight: var(--form-input-fontweight);
                            font-size: var(--form-input-fontsize);
                            line-height: var(--form-input-lineheight-large);
                        }
                    }
                }

                &--type-fileupload {
                    .ginput_container {
                        input[type='file'] {
                            padding: 12px;
                        }
                    }
                }

                &--type-multiselect {
                    .ginput_container {
                        select {
                            background: none;
                            padding: 8px;
                        }
                    }
                }

                &--type-consent {
                    .ginput_container_consent {
                        position: relative;
                        display: flex;
                        gap: 14px;

                        input[type='checkbox'] {
                            height: var(--form-checkbox-box-size);
                            width: var(--form-checkbox-box-size);
                            opacity: 0;

                            & + label {
                                &:before {
                                    content: '';
                                    display: inline-block;
                                    height: var(--form-checkbox-box-size);
                                    width: var(--form-checkbox-box-size);
                                    background-color: var(--color-accent-hex);
                                    border-radius: var(--form-border-radius);
                                    position: absolute;
                                    top: 2px;
                                    left: 0;
                                    background-size: calc(var(--form-checkbox-box-size) - 4px);
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-image: url('data:image/svg+xml,%3Csvg width=\'14\' height=\'14\' viewBox=\'0 0 14 14\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M11.8125 3.93777L5.6875 10.0625L2.625 7.00027\' stroke=\'white\' stroke-width=\'1.73554\' stroke-linecap=\'round\' stroke-linejoin=\'round\'/%3E%3C/svg%3E%0A');
                                    opacity: 0;
                                    z-index: 10;
                                }

                                &:after {
                                    content: '';
                                    display: inline-block;
                                    height: var(--form-checkbox-box-size);
                                    width: var(--form-checkbox-box-size);
                                    border: var(--form-input-border-inactive);
                                    background-color: var(--color-white, #ffffff);
                                    border-radius: var(--form-border-radius);
                                    position: absolute;
                                    top: 2px;
                                    left: 0;
                                    opacity: 1;
                                    z-index: 5;
                                }
                            }

                            &:checked {
                                & + label {
                                    &:before {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .gform_validation_errors {
            padding: 16px 24px;

            .custom_validation_error {
                font-size: .8em;

                a {
                    color: var(--color-black-500);

                    &:hover {
                        color: var(--color-primary-800)
                    }
                }
            }
        }

        .gform_footer {
            .gform_button {
                &[type='submit'] {
                    @extend .btn;
                    @extend .btn--primary;
                }
            }
        }
        /* stylelint-enable */
    }
}
