@import 'footer';
@import 'headers/image-header';
@import 'headers/featured-insight-header';
@import 'headers/big-visual-header';
@import "product-single";
@import "archive-product";
@import "account/basic-info";
@import "account/company-basic";
@import "account/company-content";
@import "account/company-social";
@import "account/company-catalog";
@import "account/company-customer";
@import "account/company-document";
@import "account/company-products";
@import "account/message";
@import "account/dashboard-widgets";
