{% extends "base.twig" %}

{% block content %}
    <article itemscope itemtype="http://schema.org/Product" class="single-product {{ post.class }}">
        <div class="container mt-4">
            <div class="row gap-4" id="product-{{ post.ID }}">
                <div class="col-12">
                    {% do action('woocommerce_before_single_product') %}
                </div>
                <div class="col-md-3">
                    {% do action('woocommerce_before_single_product_summary') %}
                </div>
                <div class="col-md-5">
                    <div class="summary entry-summary">
                        {% do action('woocommerce_single_product_summary') %}
                    </div>
                </div>
                <div class="col-md-3">
                    {% do action('woocommerce_sidebar') %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% do action('woocommerce_after_single_product_summary') %}
                </div>
            </div>
        </div>

        {% do action('woocommerce_after_single_product') %}
    </article>
{% endblock %}

