.list {
    --list-url-svg-color: var(--color-shades-blue-500);
    --list-url-svg-hover-color: var(--color-cu-lightblue-500);
    --list-url-link-color: var(--color-shades-blue-500);
    --list-url-link-hover-color: var(--color-cu-lightblue-500);
    --list-url-link-bg-color: var(--color-white);
    --list-url-link-hover-bg-color: var(--color-cu-lightblue-200);

    padding: 0;
    margin: 0;
    list-style: none;
    
    @include media-breakpoint-up(lg) {
        position: sticky;
        top: 100px;
    }

    &__item {}

    &__link {
        color: var(--list-url-link-color);
        padding: 20px 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 1.3;
        font-weight: 700;
        opacity: 0.8;
        border-radius: 2em;
        background-color: var(--list-url-link-bg-color);
        transition: all 220ms ease-in-out;

        svg {
            flex-shrink: 0;

            path {
                stroke: var(--list-url-svg-color);
            }
        }

        &:hover {
            opacity: 1;
            background-color: var(--list-url-link-hover-bg-color);
            text-decoration: none;
            color: var(--list-url-link-hover-color);

            svg {
                path {
                    stroke: var(--list-url-svg-hover-color);
                }
            }
        }
    }
}