#videoModal {
    --bs-modal-padding: 0;
    --bs-modal-header-padding: 0;
    --bs-modal-border-radius: 8px;

    .modal-close {
        position: absolute;
        top: 16px;
        right: 16px;
        width: 20px;
        height: 20px;
        padding: 0;
        z-index: 100;
        border: none;
        box-shadow: none;
        background: none;
        transition: all 0.3s ease-in-out;
        color: var(--color-brand-1);

        @include media-breakpoint-up(lg) {
            top: 25px;
            right: 25px;
            width: 36px;
            height: 36px;
        }

        &:hover {
            filter: brightness(0.80)
        }

        svg {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

#group-message-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black backdrop */
    z-index: 1000; /* Ensure it's above other content */

    .message-modal-content {
        position: relative;
        background-color: #fff;
        max-width: 95%;
        padding: 20px;
        border-radius: 8px;
        margin: 130px auto;
        height: fit-content;
        display: flex;
        width: 100%;
        justify-content: center;

        @include media-breakpoint-up(lg) {
            max-width: 50%;
        }

    }

}
