.account {
  $block: &;

  padding: 64px 0;
  display: flex;
  position: relative;

  &__company-social-header {
    margin-bottom: 32px;

  }

  &__company-social-title {

    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 24px;
    color: var(--color-brand-1);

    @include media-breakpoint-up(lg) {
      margin-bottom: 16px;
    }

  }

  &__company-social-content {

    form#cform {


      .acf-fields {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;

      }

      .company-info-item {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 0;

        @include media-breakpoint-down(lg) {
          width: 100% !important;
        }

        .acf-label {
          font-size: map-get($text-sizes, base);
          color: var(--color-shades-grey-400);
        }

        .acf-input {

          input,
          textarea {
            padding: 16px;
            resize: none;
            border: none;
            border-radius: 8px;
            font-size: map-get($text-sizes, lg);
            color: var(--color-brand-1);

            &:hover,
            &:focus {
              outline: none;
            }
          }
        }

      }

    }

    .acf-form-submit {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      gap: 32px;
      align-items: center;

      @include media-breakpoint-down(lg) {
        width: 100% !important;
        align-items: initial;
        flex-direction: column;
      }

      input {
        outline: none;
        background-color: var(--color-brand-1);
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 12px 42px;
        font-size: map-get($text-sizes, lg);
        cursor: pointer;
        transition: transform 0.2s ease-in-out;

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
      }
    }

  }

}
