.dashboard-widgets {

    &__title {
        margin-bottom: 16px;
    }

    &__company-notice {
      padding: 16px;
      margin-bottom: 64px;
      background-color: var(--color-error-red-100);
      border-radius: 8px;
      box-shadow: rgba(33, 35, 38, 0.3) 0 10px 10px -10px;
      display: flex;
      align-items: center;
      justify-content:   space-evenly;
      gap: 16px;

      svg {
        fill: var(--color-error-red-500);
        width: 22px;
        height: 22px;
      }
      p {
        margin-bottom: 0;
      }
    }

    &__message-notification {
      padding: 16px;
      background-color: var(--color-white);
      border-radius: 8px;
      box-shadow: rgba(33, 35, 38, 0.3) 0 10px 10px -10px;
    }

    &__message-title {
      color: var(--color-brand-1);
      font-size: map-get($text-sizes, lg);
    }

    &__product-info {
      padding: 16px;
      background-color: var(--color-white);
      border-radius: 8px;
      box-shadow: rgba(33, 35, 38, 0.3) 0 10px 10px -10px;
    }

    &__advertisement {
      padding: 32px 0;
      width: 100%;

      img {
        width: 100%;
        object-fit: cover;
        height: 300px;
      }
    }

}