%checkbox-layout {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
  box-shadow: 2px 1px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 16px;

}
%range-filter {
  margin-bottom: 16px;

  .range-input-container {
    display: flex;
    align-items: center;
    margin-top: 8px;
    gap: 32px;
  }

  input[type="range"] {
    width: 100%;
  }

  output {
    margin-left: 10px;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    top: 3px
  }

  ///* Style the range track and thumb */
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: #ccc;
    outline: none;
    border-radius: 5px;
    margin: 0;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--color-brand-1);
    border-radius: 50%;
    cursor: pointer;
  }

}

.product-filters {

  &__container {
  }

  &__brand,
  &__grade {
    @extend %checkbox-layout;

    h5 {
      margin-bottom: 0;
    }

  }

  &__brand-search,
  &__grade-search {

    input[type="text"] {
      width: 100%;
      padding: 8px;
    }

  }

  &__brand-items,
  &__grade-items {
    display: flex;
    flex-direction: column;
    gap: 8px;

    input[type="checkbox"]:checked {
        color: var(--color-brand-1);
        background-color: var(--color-brand-1);
    }
  }

  &__country,
  &__location {
    @extend %checkbox-layout;

  }

  &__country-search,
  &__location-search {

    input[type="text"] {
      width: 100%;
      padding: 8px;
    }

  }

  &__country-items,
  &__location-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__unit {
    @extend %checkbox-layout;

  }

  &__min-order-quantity {
    @extend %range-filter;

  }

  &__purity {
    @extend %range-filter;

  }

  &__search-button {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 16px;
    margin-bottom: 32px;

    input[type="submit"] {
      margin-top: 10px;
      background-color: var(--color-brand-1);
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #0056b3;
    }
  }

}